@model Webagency.Models.postsphotosview
@{
    ViewBag.Title = "MyPostes";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}


<div class="container " style="border:2px solid #808080;min-height:350px; padding:10px 35px;max-width:90%;border-radius:2px;">

    @foreach (var item in Model.articleposts)
    {
        <div class="row justify-content-center" style="background-color:#FDEDEC ; padding:10px 30px">
            <div class="row " style="background-color:#F5B7B1; color:#641E16 ">
                <p class="col-lg-9 col-sm-4 lift">@item.articleType</p>
                <p class="col-lg-3 col-sm-4 right">Created in @item.postCreationDate</p>
            </div>
            <div class="row justify-content-center " style="background-color:#F5B7B1; color:#641E16; text-align:center">
                <h2 class="col-lg-12 ">@item.articleTitle</h2>
            </div>

            @if (Model.photos != null)
            {

                <div class="row justify-content-between border border-secondary">
                    @foreach (var image in Model.photos)
                    {
                        if (image.articleid == item.articleID)
                        {
                            <img src="~/images/profiles/@image.path" class="rounded" alt="" style="width:600px;height:300px;">
                        }

                    }

                </div>
            }
            <div class="row justify-content-around overflow-hidden " style="min-height:300px;">
                <div class="col-lg-12" style="background-color:#FADBD8 ; color:#641E16">

                    @item.articlebody


                </div>



            </div>
            <div class="row  justify-content-between border border-secondary "style="width:100% ; background-color:#F5B7B1; color:#641E16 ">
                <div class="col-lg-2" style="max-width:300px">
                    <i class="fa fa-eye"></i> @item.NumberOfViewers
                </div>
                @if (Session["user"] != null)
                {

                    <div class="col-lg-2" style="max-width:100px">


                        <i class="fa fa-thumbs-down fs-2"style="background-color:white;border-color:lavenderblush;width: 50px; height:30px;" ></i>@item.NumberOfDislikes
                    </div>
                    <div class="col-lg-2" style="max-width:100px">

                        <i class="fa fa-thumbs-up fs-2"style="background-color:white;border-color:lavenderblush;width: 50px; height:30px;"></i> @item.NumberOfLikes



                    </div>
                    <div class="col-lg-2" style="max-width:100px">
                        @if (item.isAccepted == false)
                        {
                            <p>Refused</p>
                        }
                        else
                        {
                            <p>Approved</p>
                        }




                    </div>





                }

            </div>


        </div>
    }
</div>

